name: Publish
run-name: Publish ${{ github.ref_name }}

on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24.11.1"
                  registry-url: "https://registry.npmjs.org/"

            - name: Install dependencies
              run: npm ci

            - name: Publish NPM package
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
