name: Release
run-name: Release ${{ github.ref_name }}

on:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24.11.1"
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Build plugin
              run: npm run build

            - name: Create release
              run: |
                  gh release create ${{ github.ref_name }} \
                    --title "obskit-${{ github.ref_name }}" \
                    --generate-notes --draft
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
